body{
    margin:0px;
    display:flex;
    flex-direction: column;
    font-family:sans-serif;
}
.header{
    font-size: 24px;
}
.container-one{
    background-color:#1F2937;
    font-weight: bold;
    color:white;
    display:flex;
    justify-content:space-around;
    padding: 15px;
}

.right-links{
    display:flex;
    gap: 35px;
}

a{
    text-decoration: none;
    color:#F9FAF8;
}

.container-two{
    display:flex;
    justify-content: center;
    background-color:#1F2937;
    gap:75px;
    padding: 120px;
}

.hero-text{
 color:white;
 display:flex;
 font-size:48px;
 font-weight:900;
}

.main-image{
background:gray;
padding: 110px 120px;
color:white;
}

.sub-text{
color:lightgray;
display:flex;
flex-direction:column;
flex-wrap:wrap;
font-size:18px;
margin-top:10px;
}

.button-one{
    background-color:#3882F6 ;
    font-size:15px;
    font-weight: 900;
    color:#F9FAF8;
    padding: 10px 40px;
    border-radius:10px;
    border:none;
    margin-top:10px;
}

.container-three{
display:flex;
flex-direction: column;
margin-bottom: 125px;
}

.header-two{
    
    font-size:36px;
    font-weight:900;
    color:#1F2937;
    padding:20px;
    margin-top:20px;
    display:flex;
    justify-content: center;
}

.illustrations{
    display:flex; 
    justify-content:center;
    gap:65px;
    margin-top:30px;
}

.sub-images{
    border:5px solid rgb(62, 110, 170) ;
    padding: 75px 75px;
    border-radius:10px;
}

.img-desc{
    display:flex;
    justify-content:center;
    text-align: center;
    gap:85px;
    margin-top:5px;
}

.container-four{
    display:flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px;
}


.quote{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:36px;
    font-style:italic;
    color: rgb(72, 72, 72)
}

.author{
    display:flex;
    justify-content: end;
    color:#1F2937;
    margin-right:250px;
    margin-top:10px;
    font-weight: 900;
    font-size:25px;
}

.container-five{
    display:flex;
    padding: 80px;
    justify-content: center;
}

.box{   
    display:flex;
    justify-content: space-around;
    gap:170px;
    background-color:#3882F6;
    border-radius: 10px;
    padding: 40px 150px;
   
}

.box-two{
    display:flex;
    flex-direction: column;
    padding:10px;
}

.call-to-action{
    color: white;
    font-weight:900 ;
    font-size:26px;
}

.button-two{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#3882F6 ;
    padding:20px 30px;
    font-weight: 900;
    font-size:20px;
    color:#F9FAF8;
    border-radius:10px;
    border:2px solid white;
    
   
}

.button-one:hover, .button-two:hover{
    background-color: black;
    color:white;
    transition:0.7s
}

.text{
    color:lightgray;
}


.footer{
display:flex;
flex-direction:column;
background-color:#1F2937 ;
justify-content: center;
align-items: center;
color:white;
padding:45px;
}

