body{
    margin:0px;
    display:flex;
    flex-direction: column;
}
.header{
    font-size:20px;
}
.container-one, .footer{
    background-color:#1F2937;
    font-weight: bold;
    color:white;
    display:flex;
    justify-content:space-around;
    padding: 25px;

}

.right-links{
    display:flex;
    gap: 35px;
}

a{
    text-decoration: none;
    color:gray;
}